{%- set labelId = (labelId is defined ? labelId : (id is defined ? id~'-label' : null)) %}
{%- set fieldId = (fieldId is defined ? fieldId : (id is defined ? id~'-field' : null)) %}
{%- set label = (label is defined and label != '__blank__' ? label : null) %}
{%- set locale = ((craft.isLocalized() and locale is defined) ? locale : null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set warning = (warning is defined ? warning : null) %}
{%- set errors = (errors is defined ? errors : null) -%}
{%- set fieldClass = [
'field',
(errors ? 'error' : null),
(required is defined and required ? 'required' : null),
(craft.i18n.getLocaleData(locale ?: craft.locale).getOrientation()),
(fieldClass is defined and fieldClass ? fieldClass : null)
]|filter|join(' ') -%}

<div class="{{ fieldClass }}"{% if fieldId %} id="{{ fieldId }}"{% endif %}>

    {% if label or instructions %}
        {% if label %}
            <label {% if labelId %} id="{{ labelId }}"{% endif %}{% if id is defined and id %} for="{{ id }}"{% endif %}>
                {{- label|raw -}}
            </label>
        {% endif %}
        {% if instructions %}
            <div class="small text instructions">{{ instructions|md|replace('/&amp;(\\w+);/', '&$1;')|raw }}</div>
        {% endif %}
    {% endif %}

    {{ input|raw }}

    {% if warning %}
        <div class="ui warning message visible">
            {{ warning }}
        </div>
    {% endif %}

    {% include "_includes/forms/errorList" with { errors: errors } %}

</div>
